.atred{
    color: white;
    background-color: firebrick;
    padding-left: 2px;
    padding-right: 2px;
}

.atblue{
    color: white;
    background-color: midnightblue;
    padding-left: 2px;
    padding-right: 2px;
}