<style>
#contCol{
        background-color: rgb(201,201,201);
        background-image: none;
        height: 100%;
        overflow: auto;
    }
    #homeDef{
        display: none;
    }
    .shadwell{
        box-shadow: 1px 1px 5px rgba(0,0,0,0.5);
    }
</style>

<div ng-controller="BiblController as bcont">
    <div class="page-header">
        <h2 class="text-center subpageTitle">Bibliografia</h2>
        
    </div>
    <div class="well shadwell contentText">
        <p style="text-indent: 1.0em;">Podczas tworzenia niniejszej aplikacji korzystano z następujących źródeł:</p>
        <ul>
            <li><p class="contentText">Augustyn-Janus A.: "Tablice matematyczne", Wyd. SMB Renata Gmitrzak 2015r. </p></li>
            <li><p class="contentText">Bronsztejn I.N., Siemiendiajew K.A.: "Matematyka. Poradnik encyklopedyczny", Wyd. PWN Warszawa 1998r.  </p></li>
            <li><p class="contentText">Dudek Dyduch E., Wąs J., Dutkiewicz L., Grobler-Dębska K., Gudowski B.: "Metody numeryczne wybrane zagadnienia", Wyd. AGH 2011r. </p></li>
            <li><p class="contentText">Fortuna Z., Macukow B., Wąsowski J.: "Metody numeryczne", WNT Warszawa 2009r. </p></li>
            <li><p class="contentText">Krysicki W., Włodarski L.: "Analiza matematyczna w zadaniach, Wyd. PWN Warszawa 1998r.</p></li>
            <li><p class="contentText">Stefanowicz W., Świercz J.: "Wstęp do metod numerycznych", Wyd. Nowik Opole 2004r. </p></li>
            
        </ul>
    </div>

</div>